    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        line-height : 1.3;
    }
    h1 {
        color: #290425;
        border-bottom: 2px solid #250404;
        padding-bottom: 5px;
    }
    h2 {
        color: #555555;
    }
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
    footer {
        text-align: center;
        font-size: 0.9em;
        color: #2eda109b;
        margin : 10px;
    }