    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        line-height : 1.3;
        background-color: black;
        color: white;
    }
    h1 {
        color: #290425;
        border-bottom: 2px solid #250404;
        padding-bottom: 5px;
        font-size: medium;
    }
    h2 {
        color: #d5d10ddd;
        font-style: italic;
        font-size: medium;
        text-align: left;
    }
    img {
        border: 1px solid #ddd;
        border-radius: 50%;
        padding: 5px;
        float: left;
        margin-right: 20px;
    }
    footer {
        text-align: center;
        font-size: 0.9em;
        color: #2eda109b;
        margin : 10px;
    }